<!DOCTYPE html>
<html lang="en" data-ng-app="website">

<head>
     <meta charset="utf-8">
        <title>Contacts</title>
        <link rel="SHORTCUT ICON" href="../mt-content/uploads/2016/02/mt-0347-favicon3645.ico?_build=1565001342" type="image/vnd.microsoft.icon" />

                                    
<link rel="canonical" href="index.html" />
<meta property="og:title" content="Contacts"/>
<meta property="og:url" content="index.html"/>
                            <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    
            <link rel="stylesheet" href="../../../../../../../static-try.trial.cms-guide.com/moto3/engine/190/src/mt-includes/css/assets.min2956.css?_build=1561969664"/>
        <style>
@import url(http://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic|Montserrat:regular,700|Montserrat+Alternates:regular,700|Noto+Sans:regular,italic,700,700italic|Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic&amp;subset=latin,latin-ext,cyrillic,vietnamese,devanagari,cyrillic-ext,greek-ext,greek);
@import url(http://fonts.googleapis.com/css?family=Oswald:300,regular,700|Pacifico:regular|PT+Sans:regular,italic,700,700italic|Raleway:100,200,300,regular,500,600,700,800,900|Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&amp;subset=latin,latin-ext,cyrillic,vietnamese,devanagari,cyrillic-ext,greek-ext,greek);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:100,300,regular,700|Russo+One:regular|Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic|Ubuntu+Condensed:regular&amp;subset=latin,latin-ext,cyrillic,vietnamese,devanagari,cyrillic-ext,greek-ext,greek);
</style>
        <link rel="stylesheet" href="../mt-content/assets/styles3cb0.css?_build=1564483997" id="moto-website-style"/>
            
    
    
    
    
    
    
    
    
    
</head>
<body class="moto-background moto-website_live">
        
    

<!-- Hook: |Render: website.body.top| -->
<!-- Google Tag Manager -->
<noscript><iframe src="http://www.googletagmanager.com/ns.html?id=GTM-PXV336" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({"gtm.start":new Date().getTime(),event:"gtm.js"});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!="dataLayer"?"&l="+l:"";j.async=true;j.src="../../../../../../../www.googletagmanager.com/gtm5445.html?id="+i+dl;f.parentNode.insertBefore(j,f);})(window,document,"script","xxxxDataLayer","GTM-PXV336");</script>
<!-- End Google Tag Manager -->

             

    <div class="page">

        <header id="section-header" class="header moto-section" data-widget="section" data-container="section">
                                    <div data-css-name="moto-container_header_56c85438" class="moto-widget moto-widget-container moto-container_header_56c85438" data-widget="container" data-container="container"><div class="moto-widget moto-widget-row row-fixed" data-widget="row"><div class="container-fluid"><div class="row"><div class="moto-cell col-sm-12" data-container="container"><div class="moto-widget moto-widget-spacer moto-preset-default                   moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="aaaa">
    <div class="moto-widget-spacer-block" style="height: 12px;"></div>
</div><div class="moto-widget moto-widget-text moto-preset-default                    moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="masa">
  
</div><div class="moto-widget moto-widget-spacer moto-preset-default" data-widget="spacer" data-preset="default" data-spacing="">
    <div class="moto-widget-spacer-block" style="height: 4px;"></div>
</div><div data-widget-id="wid__image__5d480b8b02b81" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto  " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/site/02/00p/q1/0200pq12tuwwgjlg/mt-content/uploads/2016/02/mt-0347-about-divider1.png" class="moto-widget-image-picture lazyload" data-id="1141" title="" alt="">
            </span>
            </div><div class="moto-widget moto-widget-spacer moto-preset-default                 moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="saaa">
    <div class="moto-widget-spacer-block" style="height: 0px;"></div>
</div><div class="moto-widget moto-widget-text moto-preset-default                    moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="sasa">
    
</div><div data-widget-id="wid__image__5d480b8b02d5b" class="moto-widget moto-widget-image moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="image">
                        <span class="moto-widget-image-link">
                <img data-src="/site/02/00p/q1/0200pq12tuwwgjlg/mt-content/uploads/2016/02/mt-0347-about-divider2.jpg" class="moto-widget-image-picture lazyload" data-id="1140" title="" alt="">
            </span>
            </div></div></div></div></div><div data-grid-type="sm" class="moto-widget moto-widget-row row-fixed" data-widget="row"><div class="container-fluid"><div class="row"><div class="moto-cell col-sm-4" data-container="container"></div><div class="moto-cell col-sm-4" data-container="container"><div data-grid-type="sm" class="moto-widget moto-widget-row row-gutter-0" data-widget="row"><div class="container-fluid"><div class="row"><div class="moto-cell col-sm-1" data-container="container"><div class="moto-widget moto-widget-spacer moto-preset-default             moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="saaa">
    <div class="moto-widget-spacer-block" style="height: 0px;"></div>
</div><div class="moto-widget moto-widget-text moto-preset-default               moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa">
 
</div></div><div class="moto-cell col-sm-11" data-container="container"><div class="moto-widget moto-widget-text moto-preset-default                moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aama">
    <div class="moto-widget-text-content moto-widget-text-editable"><p style="text-align: center;" class="moto-text_system_1"><a class="moto-link" data-action="page" data-id="1" href="../index.html">CG</a></p></div>
</div></div></div></div></div></div><div class="moto-cell col-sm-4" data-container="container"></div></div></div></div><div class="moto-widget moto-widget-spacer moto-preset-default             moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="maaa">
    <div class="moto-widget-spacer-block" style="height: 10px;"></div>
</div></div><div data-moto-sticky="{ }" data-css-name="moto-container_header_56c85400c17b9" class="moto-widget moto-widget-container moto-container_header_56c85400c17b9" data-widget="container" data-container="container"><div class="moto-widget moto-widget-row row-fixed" data-widget="row"><div class="container-fluid"><div class="row"><div class="moto-cell col-sm-12" data-container="container"><div data-widget-id="wid__menu__5d480b8b04182" class="moto-widget moto-widget-menu moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-preset="default" data-widget="menu">
            <a href="#" class="moto-widget-menu-toggle-btn"><i class="moto-widget-menu-toggle-btn-icon fa fa-bars"></i></a>
        <ul class="moto-widget-menu-list moto-widget-menu-list_horizontal">
            <li class="moto-widget-menu-item">
    <a href="../index.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">Home</a>
        </li><li class="moto-widget-menu-item">
    <a href="../about/about.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">About</a>
        </li><li class="moto-widget-menu-item moto-widget-menu-item-has-submenu">
    <a href="../services/services.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">Services</a>
               

        </li><li class="moto-widget-menu-item">
    <a href="../gallery/gallery.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">Gallery</a>
        </li><li class="moto-widget-menu-item">
    <a href="contacts.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link">Contact Us</a>
        </li>    
        <li class="moto-widget-menu-item">
            <a href="../cart2/cart.html"   data-action="page" class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">Orders</a>
                </li> 
    </ul>
    </div></div></div></div></div></div>            
        </header>

        <section id="section-content" class="content page-14 moto-section" data-widget="section" data-container="section">
                                    <div class="moto-widget moto-widget-row row-fixed" data-widget="row"><div class="container-fluid"><div class="row"><div class="moto-cell col-sm-12" data-container="container"><div class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="aasa">
    <div class="moto-widget-spacer-block" style="height: 10px;"></div>
</div><div class="moto-widget moto-widget-text moto-preset-default               moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="masa">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_4" style="text-align: center;">contact info<br></p></div>
</div></div></div></div></div><div class="moto-widget moto-widget-row row-fixed" data-widget="row"><div class="container-fluid"><div class="row"><div class="moto-cell col-sm-5" data-container="container"></div><div class="moto-cell col-sm-2" data-container="container"><div class="moto-widget moto-widget-divider moto-preset-2               moto-align-left moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="divider_horizontal" data-divider-type="horizontal" data-preset="2" data-align="{&quot;desktop&quot;:&quot;left&quot;,&quot;tablet&quot;:&quot;&quot;,&quot;mobile-v&quot;:&quot;&quot;,&quot;mobile-h&quot;:&quot;&quot;}" data-spacing="sama" data-width="100">
    <hr style="width: 100%;" class="moto-widget-divider-line">
</div></div><div class="moto-cell col-sm-5" data-container="container"></div></div></div></div><div class="moto-widget moto-widget-row row-fixed" data-widget="row"><div class="container-fluid"><div class="row"><div class="moto-cell col-sm-4" data-container="container"><div class="moto-widget moto-widget-text moto-preset-default               moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="masa">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_212">KAYUNGA,<br>WAKISO.<br></p></div>
</div><div class="moto-widget moto-widget-text moto-preset-default          moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_normal">Tel:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="moto-link" data-action="url" href="callto: #" target="_self">+256 704 341 970</a><br>Telephone:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="moto-link" data-action="url" href="callto: #" target="_self">+256 701 083 336</a><br>Mobile:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="moto-link" data-action="url" href="callto: #" target="_self">+256 783 072 509</a><br></p></div>
</div><div class="moto-widget moto-widget-text moto-preset-default             moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aasa">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_213">E-mail:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="moto-link" data-action="url" href="callto: #" target="_self">gavacharles85@gmail.com</a> <br></p></div>
</div></div><div class="moto-cell col-sm-4" data-container="container"><div class="moto-widget moto-widget-text moto-preset-default             moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="masa">
</div></div></div></div></div><div class="moto-widget moto-widget-row" data-widget="row"><div class="container-fluid"><div class="row"><div class="moto-cell col-sm-12" data-container="container"><div class="moto-widget moto-widget-spacer moto-preset-default               moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="lasa">
    <div class="moto-widget-spacer-block" style="height: 0px;"></div>
</div></div></div></div></div>            
        </section>
    </div>

    <footer id="section-footer" class="footer moto-section" data-widget="section" data-container="section" data-moto-sticky="{mode:'smallHeight', direction:'bottom'}">
                                <div class="moto-widget moto-widget-row row-gutter-0" data-widget="row"><div class="container-fluid"><div class="row"><div class="moto-cell col-sm-12" data-container="container"><div class="moto-widget moto-widget-map moto-preset-default   moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="map" data-preset="default" data-align="center" data-spacing="aaaa" data-width="100">
    <div class="moto-widget-cover"></div>
    <iframe data-zoom="10" data-address="Glasgow" class="moto-widget-map-frame" style="border: 0px none; width: 100%; height: 300px;" src="http://maps.google.com/maps?q=kayunga&amp;z=10&amp;t=m&amp;output=embed" height="200" width="100">
    </iframe>
</div></div></div></div></div><div data-stellar-background-ratio="0.5" data-css-name="moto-container_footer_56c84f9e" class="moto-widget moto-widget-container moto-parallax moto-container_footer_56c84f9e" data-widget="container" data-container="container"><div class="moto-widget moto-widget-spacer moto-preset-default          moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="sasa">
    <div class="moto-widget-spacer-block" style="height: 0px;"></div>
</div><div class="moto-widget moto-widget-row row-fixed" data-widget="row"><div class="container-fluid"><div class="row"><div class="moto-cell col-sm-12" data-container="container"><div class="moto-widget moto-widget-text moto-preset-default           moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="lasa">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_4" style="text-align: center;"><span class="moto-color_custom2">feedback</span></p></div>
</div></div></div></div></div><div class="moto-widget moto-widget-row row-fixed" data-widget="row"><div class="container-fluid"><div class="row"><div class="moto-cell col-sm-5" data-container="container"></div><div class="moto-cell col-sm-2" data-container="container"><div class="moto-widget moto-widget-divider moto-preset-3           moto-align-left moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="divider_horizontal" data-divider-type="horizontal" data-preset="3" data-align="{&quot;desktop&quot;:&quot;left&quot;,&quot;tablet&quot;:&quot;&quot;,&quot;mobile-v&quot;:&quot;&quot;,&quot;mobile-h&quot;:&quot;&quot;}" data-spacing="sama" data-width="100">
    <hr style="width: 100%;" class="moto-widget-divider-line">
</div></div><div class="moto-cell col-sm-5" data-container="container"></div></div></div></div><div class="moto-widget moto-widget-row row-fixed" data-widget="row"><div class="container-fluid"><div class="row"><div class="moto-cell col-sm-12" data-container="container"><div data-widget-id="wid__contact_form__5d480b8b06bb8" class="moto-widget moto-widget-contact_form moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto  " data-preset="default" data-widget="contact_form" data-spacing="mama">
        <div ng-controller="widget.ContactForm.Controller" ng-init="hash = '2@eyJoIjoiejBPMHNlYTVQb3BnT0RmRHdXQXViaTlHc3NsMXdWXC9YOVNSWk92aGNCc2M9IiwiaSI6ImZFOUtQOG91S1pyeDlsRFY4cGRaRnc9PSIsInYiOiJlK0szT3VcL0tvWXZhenhjZkhaTkRsNythSTYwdUNsZ1hTYVdHcEplOXhcL3lYd0FudFNSbytHeFVcLzRJRk9lUVQ5dWZSU3FcL0NlZmtaZ1dNWFQwNUJkQVE9PSJ9';actionAfterSubmission={&quot;action&quot;:&quot;none&quot;,&quot;url&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;id&quot;:&quot;&quot;};resetAfterSubmission=false">
                <form class="moto-widget-contact_form-form" role="form" name="contactForm" ng-submit="submit()" novalidate>
            <div ng-show="sending" class="contact-form-loading"></div>

                                                                                                        <div class="moto-widget-contact_form-group">
                            <label for="field_name" class="moto-widget-contact_form-label">Your name</label>
                            <input type="text" class="moto-widget-contact_form-field moto-widget-contact_form-input" placeholder="Your name *"  ng-blur="validate('name')" required  ng-model-options="{ updateOn: 'blur' }" name="name" id="field_name" ng-model="message.name"/>
                                                            <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.name.$invalid && !contactForm.name.$pristine && !contactForm.name.emailInvalid" >Field is required</span>
                                                                                    </div>
                                    
                                                                                                        <div class="moto-widget-contact_form-group">
                            <label for="field_email" class="moto-widget-contact_form-label">Email</label>
                            <input type="text" class="moto-widget-contact_form-field moto-widget-contact_form-input" placeholder="Email *"  ng-blur="validate('email')" required  ng-model-options="{ updateOn: 'blur' }" name="email" id="field_email" ng-model="message.email"/>
                                                            <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.email.$invalid && !contactForm.email.$pristine && !contactForm.email.emailInvalid" >Field is required</span>
                                                                    <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.email.emailInvalid && !contactForm.email.$pristine" >Incorrect email</span>
                                                                                    </div>
                                    
                                                                                                        <div class="moto-widget-contact_form-group">
                            <label for="field_phone" class="moto-widget-contact_form-label">Phone</label>
                            <input type="text" class="moto-widget-contact_form-field moto-widget-contact_form-input" placeholder="Phone "  ng-model-options="{ updateOn: 'blur' }" name="phone" id="field_phone" ng-model="message.phone"/>
                                                            <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.phone.$invalid && !contactForm.phone.$pristine && !contactForm.phone.emailInvalid" >Field is required</span>
                                                                                    </div>
                                    
                                                            
                                                            
                                                            
                                                                                                        <div class="moto-widget-contact_form-group">
                            <label for="field_message" class="moto-widget-contact_form-label">Message</label>
                            <textarea class="moto-widget-contact_form-field moto-widget-contact_form-textarea" rows="3" placeholder="Message *"  ng-blur="validate('message')" required  ng-model-options="{ updateOn: 'blur' }" name="message" id="field_message" ng-model="message.message"></textarea>
                                                            <span class="moto-widget-contact_form-field-error ng-cloak" ng-cloak ng-show="contactForm.message.$invalid && !contactForm.message.$pristine" >Field is required</span>
                                                    </div>
                                    
            
                            <div class="moto-widget-contact_form-success ng-cloak" ng-cloak ng-show="showSuccessMessage">
                    Your message was sent successfully
                </div>
                <div class="moto-widget-contact_form-danger ng-cloak" ng-cloak ng-show="emailError">
                    Sorry, your message was not sent
                </div>
                        <div class="moto-widget-contact_form-buttons">

                            <div class="moto-widget moto-widget-button moto-preset-default moto-align-center" data-preset="default" data-align="center">
                    <a ng-click="submit();" class="moto-widget-button-link moto-size-small" data-size="small"><span class="fa moto-widget-theme-icon"></span><span class="moto-widget-button-label">SUBMIT</span></a>
                </div>
                <button type="submit" class="hidden"></button>
            
            </div>
        </form>
    </div>
    </div><div class="moto-widget moto-widget-text moto-preset-default            moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="mala">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_5" style="text-align: center;"><a class="moto-link" data-action="url" href="callto: #" target="_self">+256 704 341 970</a><br></p></div>
</div><div data-widget-id="wid__social_links__5d480b8b07024" class="moto-widget moto-widget-social-links moto-preset-default moto-align-center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="social_links" data-preset="default">
        <ul class="moto-widget-social-links-list">
                                                        <li class="moto-widget-social-links-item">
                        <a href="https://web.facebook.com/CG-Engineering-Consults-Ltd-101235731281975/" class="moto-widget-social-links-link moto-widget-social-links-link_facebook" data-provider="facebook" target="_blank"></a>
                    </li>
                                                                                   
                                                                                    <li class="moto-widget-social-links-item">
                        <a href="http://twitter.com/consults_cg" class="moto-widget-social-links-link moto-widget-social-links-link_twitter" data-provider="twitter" target="_blank"></a>
                    </li>
                                                                                 
                                                                                                                <li class="moto-widget-social-links-item">
                        <a href="http://instagram.com/cg_consults" class="moto-widget-social-links-link moto-widget-social-links-link_instagram" data-provider="instagram" target="_blank"></a>
                    </li>
                                                            </ul>
    </div><div class="moto-widget moto-widget-spacer moto-preset-default" data-widget="spacer" data-preset="default" data-spacing="">
    <div class="moto-widget-spacer-block" style="height: 4px;"></div>
</div><div class="moto-widget moto-widget-row row-gutter-0" data-widget="row"><div class="container-fluid"><div class="row"><div class="moto-cell col-sm-5" data-container="container"></div><div class="moto-cell col-sm-2" data-container="container"><div class="moto-widget moto-widget-divider moto-preset-3           moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="divider_horizontal" data-divider-type="horizontal" data-preset="3" data-align="{&quot;desktop&quot;:&quot;left&quot;,&quot;tablet&quot;:&quot;&quot;,&quot;mobile-v&quot;:&quot;&quot;,&quot;mobile-h&quot;:&quot;&quot;}" data-spacing="aama" data-width="100">
    <hr style="width: 100%;" class="moto-widget-divider-line">
</div></div><div class="moto-cell col-sm-5" data-container="container"></div></div></div></div></div></div></div></div><div data-grid-type="xs" class="moto-widget moto-widget-row row-gutter-0" data-widget="row"><div class="container-fluid"><div class="row"><div class="moto-cell col-xs-5" data-container="container"><div class="moto-widget moto-widget-spacer moto-preset-default        moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="saaa">
    <div class="moto-widget-spacer-block" style="height: 0px;"></div>
</div><div class="moto-widget moto-widget-text moto-preset-default         moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa">
    
</div></div><div class="moto-cell col-xs-7" data-container="container"><div class="moto-widget moto-widget-text moto-preset-default           moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aala">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_13"><a class="moto-link" data-action="page" data-id="1" href="../index.html">CG</a><br></p></div>
</div></div></div></div></div><div class="moto-widget moto-widget-row row-fixed" data-widget="row"><div class="container-fluid"><div class="row"><div class="moto-cell col-sm-12" data-container="container"><div class="moto-widget moto-widget-text moto-preset-default          moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="mama">
    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_11" style="text-align: center;">CG Engineering © 2020 • <a class="moto-link" data-action="page" data-id="15" href="../privacy-policy/privacypolicy.html">Privacy Policy</a><br></p></div>
</div></div></div></div></div><div class="moto-widget moto-widget-spacer moto-preset-default        moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="spacer" data-preset="default" data-spacing="saaa">
    <div class="moto-widget-spacer-block" style="height: 0px;"></div>
</div></div>            
    </footer>

                     <div data-moto-back-to-top-button class="moto-back-to-top-button">
        <a ng-click="toTop($event)" class="moto-back-to-top-button-link">
            <span class="moto-back-to-top-button-icon fa"></span>
        </a>
    </div>
                    <script data-cfasync="false" src="../../../../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../../../../../../../static-try.trial.cms-guide.com/moto3/engine/190/src/mt-includes/js/website.assets.min2956.js?_build=1561969664" type="text/javascript" data-cfasync="false"></script>
    <script type="text/javascript" data-cfasync="false">
        var websiteConfig = websiteConfig || {};
        websiteConfig.address = '../index.html';
        websiteConfig.addressHash = '78ac34539216bd37ba4675efb34451fc';
        websiteConfig.apiUrl = '../api.json';
        websiteConfig.preferredLocale = 'en_US';
        websiteConfig.preferredLanguage = websiteConfig.preferredLocale.substring(0, 2);
                websiteConfig.back_to_top_button = {"topOffset":300,"animationTime":500,"type":"theme"};
                websiteConfig.popup_preferences = {"loading_error_message":"The content could not be loaded."};
        websiteConfig.lazy_loading = {"enabled":true};
        websiteConfig.cookie_notification = {"enabled":false,"content":"<p class=\"moto-text_normal\">This website uses cookies to ensure you get the best experience on our website.<\/p>","content_hash":"6610aef7f7138423e25ee33c75f23279","controls":{"visible":"close,accept","accept":{"label":"Got it","preset":"default","size":"medium","cookie_lifetime":365}}};
                angular.module('website.plugins', []);
    </script>
    <script src="../../../../../../../static-try.trial.cms-guide.com/moto3/engine/190/src/mt-includes/js/website.min2956.js?_build=1561969664" type="text/javascript" data-cfasync="false"></script>
                
    
    
</body>

</html>